.fundpress-list-item-content li.double-width {
	flex: 0 0 66.66666%;
	max-width: 66.66666%;
}

.freelancer-hr {
	border-top: 2px solid #d5d5d5;
}

.btn-hire {
	width: 100%;
	background-color: #da552f;
	color: white;
}

.btn-message {
	width: 100%;
	background-color: #a0a0a0;
	color: white;
}

.circle-icon {
	background: #da552f;
	padding: 10px;
	border-radius: 50%;
	color: white;
	font-size: 20px;
}

.fav-icon-wrapper {
	left: -20px;
    top: -36px;
}

.freelance-rating {
	font-size: 12px;
}

.job-details {
	text-align:center;
}

.freelancer-body {
	color: black;
	font-size: 12px;
}